{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@styles": "./components/styles",
          "@utility": "./utility",
          "@routes": "./routes",
          "@reduxStore": "./modules/reduxStore"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
